* {
    background-color: #d6b6e1;
    color: white;
    font-family: Garamond;
    font-weight:bold;
    margin: 20px;
}
.grids{
    display: grid;
    justify-content: center;
    grid-template-rows: 200px 200px;
    grid-template-columns: max-content;
    row-gap: 20px;
}

.projects {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.portmore {
    height: 50px;
    width: 400px;
}
.todo {
    width: 400px;
    height: 100px;
    text-align: center;

}
.xlyn-logo {
    height: 50px;
    width: 400px;
}